.backdrop {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.45);
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;

  animation: fadeIn 200ms ease forwards;
}

.modal {
  border-radius: 30px;
  width: 100%;
  height: 476px;
  background: var(--bg-secondary-color);

  position: relative;

  overflow: visible;

  animation: scaleIn 200ms ease forwards;
}

.closeBtn {
  position: absolute;
  top: 26px;
  right: 26px;

  background: transparent;
  border: none;
  cursor: pointer;
  margin-bottom: 0px;
}

.xIcon {
  stroke: var(--text-strong);
  width: 12px;
  height: 12px;
}

.content {
  width: 100%;
  position: absolute;
  top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgWrapper {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.img {
  width: 44px;
  height: 44px;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--text-strong);
  margin-bottom: 28px;
}

.btnWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.btnLogIn {
  border-radius: 30px;
  padding: 14px 48px;
  width: 100%;
  height: 48px;
  background-color: var(--primary-color);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: var(--bg-secondary-color);
  text-decoration: none;
  text-align: center;
}

.btnLogIn:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.btnLogIn:focus {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.btnReg {
  border-radius: 30px;
  padding: 14px 24px;
  width: 100%;
  height: 48px;
  background-color: var(--secondary-color);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: var(--primary-color);
  text-decoration: none;
  text-align: center;
}

.btnReg:hover {
  background-color: #fbe7c1;
}

.btnReg:focus {
  background-color: #fbe7c1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@media only screen and (min-width: 375px) {
  .backdrop {
    padding: 0 20px;
  }
  .modal {
    width: 335px;
    height: 394px;
  }
  .content {
    top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
  }
  .title {
    font-size: 20px;
    line-height: 100%;
  }
  .text {
    margin-bottom: 24px;
  }
  .btnLogIn {
    padding: 12px 48px;
    width: 135px;
    height: 42px;

    font-size: 14px;
    line-height: 129%;
  }
  .btnReg {
    padding: 12px 24px;
    width: 129px;
    height: 42px;

    font-size: 14px;
    line-height: 129%;
  }
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 466px;
    height: 434px;
  }

  .closeBtn {
    margin-bottom: 0px;
  }
  .content {
    top: 60px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
  }
  .title {
    font-size: 24px;
    line-height: 117%;
  }
  .text {
    margin-bottom: 28px;
  }
  .btnLogIn {
    padding: 14px 48px;
    width: 140px;
    height: 48px;

    font-size: 16px;
    line-height: 125%;
  }
  .btnReg {
    padding: 14px 24px;
    width: 140px;
    height: 48px;

    font-size: 16px;
    line-height: 125%;
  }
}

@media only screen and (min-width: 1280px) {
}
