.item {
    display: flex;
  flex-direction: column;
  width: calc((100% - 70px)/3);
  height: 476px;
}

.image {
  border-radius: 15px;
width: 361px;
height: 226px;
margin-bottom: 28px;
}

.title {
  font-family: var(--font-family);
font-weight: 700;
font-size: 20px;
line-height: 130%;
letter-spacing: -0.03em;
color: var(--text-strong);
margin-bottom: 14px;
}

.text {
  font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 125%;
letter-spacing: -0.02em;
color: var(--text-strong);
margin-bottom: 28px;
}

.meta {
  display: flex;
  justify-content: space-between;
   margin-top: auto;
  align-items: center;
}

.dateTime {
font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 125%;
letter-spacing: -0.02em;
color: rgba(38, 38, 38, 0.5);
}

.link {
  font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 125%;
letter-spacing: -0.02em;
text-decoration: underline;
text-decoration-skip-ink: none;
color: var(--primary-color);
}