.petBlock {
  position: relative;
}

.petImage img {
  border-radius: 60px;
  width: 592px;
  height: 654px;
}

.petInfo {
  border-radius: 20px;
  width: 294px;
  height: 121px;
  background-color: #fff;
  position: absolute;
  bottom: 97px;
  left: 61px;
  padding: 19px 16px 18px;
  display: flex;
  gap: 8px;
}

.avatar {
  border-radius: 100%;
  background-color: var(--secondary-color);
  width: 60px;
  height: 60px;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar img {
  width: 32px;
  height: 32px;
}

.petHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 11px;
}
.petName {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: var(--primary-color);
}

.petBirthdayDate {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: var(--text-strong);
}

.petBirthdayDate span {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: rgba(38, 38, 38, 0.5);
}

.petAbout {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: rgba(38, 38, 38, 0.8);
}
