.container {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1280px;
}

@media only screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}
