.heroMain {
  background-image: url('img/heroMain-desk@x1.webp');
 position: fixed;
  inset: 0;
  background-size: cover;
  background-position: center;
   display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .heroMain {
    background-image: url('img/heroMain-desk@x2.webp');
   
  }
}
