

.rowTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.newslist {
    margin-bottom: 60px;
}

.paginationBox {
    display: flex;
    justify-content: center;
}