section {
    padding-top: 96px;
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 80px;
}

.rowTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.newslist {
    margin-bottom: 60px;
}

.paginationBox {
    display: flex;
    justify-content: center;
}