.authNavItem {
display: flex;
gap: 8px;
margin-left: auto;
}

.logInBtnHome {
border: 1px solid rgba(255, 255, 255, 0.4);
border-radius: 30px;
padding: 15px 35px;
width: 119px;
height: 50px;
background-color: transparent;
font-weight: 700;
font-size: 16px;
line-height: 125%;
letter-spacing: -0.03em;
text-transform: uppercase;
color: var(--bg-secondary-color);
white-space: nowrap;
}

.logInBtn {
border-radius: 30px;    
font-weight: 700;
font-size: 16px;
line-height: 125%;
letter-spacing: -0.03em;
text-transform: uppercase;
color: var(--bg-secondary-color);
background-color: var( --primary-color);
white-space: nowrap;
padding: 15px 35px;
width: 119px;
height: 50px;
}

.regBtnHome {
border-radius: 30px;
padding: 15px 20px;
width: 149px;
height: 50px;
background-color: var(--secondary-color);
font-weight: 700;
font-size: 16px;
line-height: 125%;
letter-spacing: -0.03em;
text-transform: uppercase;
color: var(--primary-color);
}

.regBtn {
border-radius: 30px;
font-weight: 700;
font-size: 16px;
line-height: 125%;
letter-spacing: -0.03em;
text-transform: uppercase;
color: var(--primary-color);
background-color: var(--secondary-color);
border-radius: 30px;
padding: 15px 20px;
width: 149px;
height: 50px;
}