.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
    animation: fade 0.4s ease;
}


@keyframes fade {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.circle {
  transform: rotate(-90deg);
}

.progress {
  transition: stroke-dashoffset 0.2s ease;
}

.text {
  position: absolute;
  text-align: center;
  color: white;
}

.label {
  font-size: 14px;
  opacity: 0.7;
  margin-bottom: 4px;
}

.percent {
  font-size: 32px;
  font-weight: 800;
}