form {
  position: relative;
  width: 100%; 
}

input {
    border: 1px solid rgba(38, 38, 38, 0.15);
border-radius: 30px;
padding: 14px 36px 14px 14px;
width: 230px;
height: 48px;
font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 125%;
letter-spacing: -0.03em;
color: rgba(38, 38, 38, 0.5);
}

.btnSearch {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.icon {
    stroke: var(--text-strong);
    fill: none;
}